@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Fonts
$font-family-body: 'Karla', sans-serif;
$font-size-default: 1.6rem;

// Primary Colors
$color-primary: rgb(42, 178, 175);
$color-primary-light: rgba(42, 178, 175, 0.8);
$color-secondary: hsl(71, 73%, 54%);

// Neutral Colors
$color-white: #fff;
$color-neutral-dark: hsl(218, 22%, 67%);
$color-neutral-light: hsl(204, 43%, 93%);

// Shadows
$box-shadow: 0px 10px 25px 1px rgba($color-neutral-dark, 0.4);

// Border radius
$border-radius-md: 9px;
$border-radius-sm: 4px;

.paragraph {
	line-height: 1.8;
	font-weight: 400;
	font-size: 1.4rem;
}

.bg-white {
	background-color: $color-white;
}

.bg-light {
	background-color: $color-neutral-light;
}

.bg-primary {
	background-color: $color-primary;
}

.bg-primary-light {
	background-color: $color-primary-light;
}

.bg-secondary {
	background-color: $color-secondary;
}

.text-primary {
	color: $color-primary;
}

.text-white {
	color: $color-white;
}

.text-dark {
	color: $color-neutral-dark;
}

.text-secondary {
	color: $color-secondary;
}

.header-sm {
	font-size: 1.8rem;
}

.shadow-dark {
	box-shadow: $box-shadow;
}

.border-radius-sm {
	border-radius: $border-radius-sm;
}

.border-radius-md {
	border-radius: $border-radius-md;
}
